/*body {*/
      /*background-image: url('/static/img/typewriter.jpeg');*/
        /*background-repeat: no-repeat center center fixed;*/
        /*background-size: cover;*/
        /*color:#ffffff;*/

/*}*/
#mayor {
    color: darkblue;
    font-size: 40px;
    font-style: bold;
}